@import '/src/common/modern-reset.css';
@import '/src/common/login-theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

/* 컴포넌트 불러오기 */
@import '/src/ui/components/logo/logo.css';
@import '/src/ui/components/input/input.css';
@import '/src/ui/components/checkbox/checkbox.css';
@import '/src/ui/components/text-link/text-link.css';
@import '/src/ui/components/switch/switch.css';
@import '/src/ui/components/button/button.css';

/*컨테이너*/
.container {
    padding: 0 var(--spacing-4);
}

/*헤더*/
.header {
    padding: 4.375rem 0 2.8125rem;

    @media (min-width: 768px) {
        padding: 6.25rem 0 3.125rem;
    }
    .logo {
        margin: 0 auto;
    }
}
